._button-solid {
  border-radius: 5px;
  font-size: 18px;
  padding: 11px 40px;
  color: white;
  background: $main-color;
  display: inline-flex;
  cursor: pointer;

  .icon {
    margin-left: 8px;

    &:before {
      vertical-align: middle;
    }
  }

  &.icon-left {
    .icon {
      order: -1;
      margin-left: 0;
      margin-right: 8px;
    }
  }

  &:hover {
    @import "./states/hover.scss";
  }
}
