/**
 * CheckinRanking Menu Component styles
 */

._checkin-ranking {
  padding: 20px;
  overflow: hidden;

  .podium {
    transform: scale(0.9);

    @include media-breakpoint-up("lg") {
      transform: scale(0.75);
    }
    @include media-breakpoint-up("xl") {
      transform: scale(1);
    }

    .media {
      margin-bottom: 10px;
      width: 77px;
      height: 77px;
      border-radius: 5px;
    }
    .stand {
      display: block;
      background-color: rgba($acolhimento, 0.8);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 167px;
      width: 105px;
      text-align: center;

      .number,
      .count {
        display: block;
      }

      .number {
        font-size: 32px;
        font-weight: bold;
        margin-top: 12px;
      }

      .count {
        font-size: 24px;
      }
    }
    .podium-col {
      flex-direction: column;
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .first {
      .stand {
        width: 125px;
        background-color: $acolhimento;
      }
    }
    .second {
      .stand {
        border-top-right-radius: 0px;
        height: 120px;
      }
      .media {
        width: 53px;
        height: 53px;
      }
    }
    .third {
      .stand {
        border-top-left-radius: 0px;
        height: 92px;
      }
      .media {
        width: 40px;
        height: 40px;
      }
    }
  }
}
