._breadcrumbs {
  .icon {
    margin-right: 10px;
    &:before {
      font-size: 18px;
    }
  }
  &,
  span,
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $calma-2;
  }
}
