._about-home-card {
  .about-image {
    min-height: 272px;
    display: flex;

    @media screen and (min-width: 992px) {
      min-height: 272px;
      min-height: 368px;
    }

    img {
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .about-text {
    line-height: 2rem;

    @media screen and (min-width: 992px) {
      padding-left: 30px;
    }

    h2 {
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
  }
}
