._button-standard {
  $hover-color: darken($primary, 10%);
  background: $primary;
  color: #fff;
  border: 2px solid $primary;
  border-radius: 100px;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 16px;
  transition: 300ms all;
  display: inline-flex;
  align-items: center;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: $hover-color;
    border-color: $hover-color;
    color: #fff;
    text-decoration: none;
  }

  .icon {
    margin-left: 8px;

    &:before {
      vertical-align: middle;
    }
  }

  &.icon-left {
    .icon {
      order: -1;
      margin-left: 0;
      margin-right: 8px;
    }
  }
  // Disabled button
  &[data-state="disabled"] {
    @import "./states/disabled.scss";
  }
}
