// Main Colors

// Primary colors
$color-primary: #4a90e2;

// Secondary colors
$color-secondary: #647883;

// Tertirary colors
$color-tertiary-medium-gray: #767a78;

// Alias colors
$body-text-color: $color-secondary;
