// Main Colors

// Primary colors
$color-disciplina: #005a9c;
$color-calma: #a2e6c5;
$color-status-info: #17a2b8;

// Secondary colors
$color-secondary-calma2: #005557;
$color-secondary: #647883;

// Tertirary colors
$color-tertiary-medium-gray: #767a78;

// Alias colors
$body-text-color: $color-secondary;
