._modal-toggler {
  &.align-left,
  &.align-right {
    a,
    button {
      display: inline-block;
    }
  }
  &.align-left {
    text-align: left;
  }
  &.align-right {
    text-align: right;
  }
  &.align-fill {
    a,
    button {
      display: block;
      width: 100%;
    }
  }
}
