@mixin pos-absolute-0 {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
// Apply placeholder in input fields
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}
