@import "../StandardAlt/";
@import "../StandardThin/";

._button-standard-alt-outline-thin {
  @extend ._button-standard-alt;
  @extend ._button-standard-thin;

  &._button-var {
    background: none;
    color: white;

    &:hover {
      background: $color-calma;
      border-color: $color-calma;
    }
  }
}
