// Assets
// Components

._nav-menu {
  @media screen and (max-width: 991px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #4a90e2;
  }
  .navbar-nav {
    gap: 30px;
  }
  .menu-item {
    a {
      text-transform: uppercase;
      color: #fff;
      font-weight: 300;

      @media screen and (max-width: 992px) {
        font-size: 20px;
      }
    }
  }
}
