// Assets
@import "../../assets/scss/main";

// Components
@import "../../components/Header/Header/";
@import "../../components/Hero/Hero/";
@import "../../components/Footer/Footer/";

#front-page {
}
