// Bootstrap
@import "mixins";
@import "functions";
@import "variables";
//@import "bootstrap";
@import "typography";
@import "helpers";

.icon {
  display: inline-block;
  vertical-align: middle;

  &:before {
    vertical-align: baseline;
  }
  &.fw {
    text-align: center;
    width: 1.25em;
  }
}
